html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body {
    background: linear-gradient(45deg, #FFC0CB, #FFFF00);
    background-size: 400% 400%;
}

/*inicia el css del menu*/


.menuNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    background-color: #333;
}

.menu-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-list li {
    margin-right: 20px;
}

.menu-button {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 250px;
    font-size: 2rem;
}

/*cuando se pone el cursor en los  botones
.menu-button:hover {
    
}
*/

.menu-icon {
    display: none;
}

/* Estilos para pantallas pequeñas (puedes utilizar media queries) */
@media screen and (max-width: 768px) {
    .menu-list {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

.logo {
    width: 100px;
    /* Ajusta el ancho del logo según tus necesidades */
    height: auto;
    /* Mantiene la proporción de aspecto automáticamente */
}

/* esta parte es para el icono de las 3 barritas*/
.menu-icon {
    grid-area: icono;
    width: 60px;
    /* Ancho del icono */
    height: 70px;
    /* Altura del icono */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 10px;
    /* Altura de las líneas horizontales */
    background-color: #000;
    /* Color de las líneas */
}

/*****************************************************************************************/
.contenedor{
    display: grid;
    grid-template-areas: "colorimetria peinados"
                         "cortes maquillaje";
                         justify-content: center; /* Centrar horizontalmente */
  
}
.colorimetria{
    grid-area: colorimetria;
}
.peinados{
    grid-area: peinados;

}
.cortes{
    grid-area: cortes;

}
.maquillaje{
    grid-area: maquillaje;
}
.servicio {
    background-color: rgb(255, 255, 128);
    border: 1px solid rgb(255, 153, 255);
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 500px;
    vertical-align: top;
    height: 375px;
    align-items: center;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3); /* 5px hacia la derecha, 5px hacia abajo, desenfoque de 10px y color de sombra con opacidad */
    

}

/* Estilos para la imagen del producto */
.servicio img {
    max-width: 100%;
    height: 300px;
}

/* Estilos para el nombre del producto */
.servicio .nombre {
    font-weight: bold;
    margin: 10px 0;
    font-size: 2rem;
}