html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: 
        linear-gradient(
          to bottom,
          hsla(53.01, 97.65%, 50%, 0.73) 0%,
          hsla(51.94, 97.45%, 54.39%, 0.731) 8.1%,
          hsla(49.77, 97.26%, 59.1%, 0.732) 15.5%,
          hsla(46.3, 97.11%, 63.59%, 0.734) 22.5%,
          hsla(41.17, 96.99%, 67.84%, 0.737) 29%,
          hsla(33.84, 96.91%, 71.83%, 0.74) 35.3%,
          hsla(23.56, 96.89%, 75.57%, 0.744) 41.2%,
          hsla(9.29, 96.93%, 79.01%, 0.748) 47.1%,
          hsla(351.1, 97.47%, 79.15%, 0.752) 52.9%,
          hsla(336.88, 98.29%, 75.84%, 0.756) 58.8%,
          hsla(326.71, 98.91%, 72.26%, 0.76) 64.7%,
          hsla(319.48, 99.35%, 68.4%, 0.763) 71%,
          hsla(314.42, 99.66%, 64.31%, 0.766) 77.5%,
          hsla(311.01, 99.86%, 60.03%, 0.768) 84.5%,
          hsla(308.88, 99.97%, 55.73%, 0.769) 91.9%,
          hsla(308, 100%, 52.94%, 0.77) 100%
        );
    
      
    background-size: 400% 400%;
    margin: 0;
}

.contenedor {
    display: grid;
    grid-template-areas: "header header"
                         "formulario crear"
                         "formulario cancelar"
                         "imagen imagen";
    grid-gap: 50px;
    height: 100vh;
}

header {
    grid-area: header;
    color: white;
    font-size: 3em;
    text-align: center;
}

button {
    border-radius: 20px;
    background-color: rgb(22, 0, 58);
    padding: 15px;
    height: 60px;
    width: 150px;
    color: white;
    text-align: center;
}

form input {
    color: white;
    background-color: rgb(22, 0, 58);
    width: 100%; /* Cambiado a 100% para ocupar todo el espacio horizontal */
    height: 30px;
}

form {
    grid-area: formulario;
    font-size: 2rem;
    display: flex;
    flex-direction: column;

}

form > * {
    padding: 10px;
}


label {
    color: white;
}

.edad {
    width: 15%;
}

.cSexo > * {
    text-align: center;
}

.crear {
    grid-area: crear;
}

.cancelar {
    grid-area: cancelar;
}

img {
    grid-area: imagen;
    width: 90%;
}

.botones {
  padding-left: 25%;
}