@import url(../global.css);

.producto {
    background-color: rgb(255, 255, 128);
    border: 1px solid rgb(255, 153, 255);
    padding: 20px;
    margin: 10px;
    text-align: left;
    width: 300px;
    display: inline-block;
    vertical-align: top; /* Alinea los contenedores en la parte superior */
    height: 450px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* 5px hacia la derecha, 5px hacia abajo, desenfoque de 10px y color de sombra con opacidad */

}

/* Estilos para la imagen del producto */
.producto .prod {
    width: 100%;
    height: 300px;


}

/* Estilos para el nombre del producto */
.producto .nombre {
    margin: 10px 0;

}

.nombre {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilos para la descripción del producto */
.producto .descripcion {
    font-size: 0.9em;
    text-align: justify;
    max-height: 20px;


}

.descripcion {
    font-weight: normal;
    font-family: 'Arial', sans-serif;
}

.producto .fav {
    cursor: pointer;
    max-width: 30px;
    vertical-align: top;
}

html {
    font-family: none;
}