@import "../../global.css";

table {
    margin: 0;
}

td {
    text-align: center;
}

td.edit {
    background: #4caf50;
    cursor: pointer;
}

td.edit:hover {
    background: #46a049;
}

td.delete {
    background: #f44336;
    cursor: pointer;

}

td.delete:hover {
    background: #da190b;
}

td.icon img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

td.image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section {
    margin: 0 auto;
    width: 80%;
}

section h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

div.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    background-color: #333;
}