@import "../../global.css";

table {
    margin: 0;
    grid-area: tabla;
}

td {
    text-align: center;
}

td.edit {
    background: #4caf50;
    cursor: pointer;
}

td.edit:hover {
    background: #46a049;
}

td.delete {
    background: #f44336;
    cursor: pointer;

}

td.delete:hover {
    background: #da190b;
}

td img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

td.image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

section {
    padding-top: 3%;
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template-areas: "busqueda acciones"
        "busqueda tabla";
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 0.2fr auto;
}

.actions {
    grid-area: acciones;

}

section h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

div.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    background-color: #333;
}

.busqueda {
    grid-area: busqueda;
    display: flex;
    flex-direction: column;
    padding-right: 2%;
    padding-top: 50%;
}

.raro {
    min-height: 20px;
}

.busqueda button {
    margin: 10px;
}