body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #ffcccc; /* Fondo rosado */
    }

    .navbar {
      background-color: #ff00a6;
      overflow: hidden;
      text-align: center; /* Centro los botones */
    }

    .nav-btn {
      display: inline-block; /* Hace que los botones sean en línea */
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    .form-container {
      margin: 20px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #ffffff; /* Fondo blanco */
    }

    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }

    label {
      margin-bottom: 5px;
    }

    input,
    select {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    button {
      background-color: #a200ff;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

    button:hover {
      background-color: #a200ff;
    }