@import "nav.css";
@import "footer.css";
@import "table.css";
@import "tabler-icons.min.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: linear-gradient(45deg, #FFC0CB, #FFFF00);
    background-size: 400% 400%;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

ul {
  list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a.disabled {
    pointer-events: none;
    color: #6c6c6c !important;
}


