table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

thead {
    background-color: #333;
    color: white;
}

td.image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}