table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

thead {
    background-color: #333;
    color: white;
}