table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

thead {
    background-color: #333;
    color: white;
}

td {
    text-align: center;
}

td.edit {
    background: #4caf50;
    cursor: pointer;
}

td.edit:hover {
    background: #46a049;
}

td.delete {
    background: #f44336;
    cursor: pointer;

}

td.delete:hover {
    background: #da190b;
}

td img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

td.image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

td span{
    display: flex;
    flex-direction: column;
    text-align: left;
}