html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
body{
    background: linear-gradient(45deg, #FFC0CB, #FFFF00);
    background-size: 400% 400%;
}
/*inicia el css del menu*/


.menuNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    background-color: #333;
}

.menu-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-list li {
    margin-right: 20px;
}

.menu-button {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 250px;
    font-size: 2rem;
}
/*cuando se pone el cursor en los  botones
.menu-button:hover {
    
}
*/

.menu-icon {
    display: none;
}

/* Estilos para pantallas pequeñas (puedes utilizar media queries) */
@media screen and (max-width: 768px) {
    .menu-list {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
}
.logo {
    width: 100px; /* Ajusta el ancho del logo según tus necesidades */
    height: auto; /* Mantiene la proporción de aspecto automáticamente */
}

/* esta parte es para el icono de las 3 barritas*/
.menu-icon {
    grid-area: icono;
    width: 60px; /* Ancho del icono */
    height: 70px; /* Altura del icono */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 10px; /* Altura de las líneas horizontales */
    background-color: #000; /* Color de las líneas */
}

a{
    color: inherit; /* Hereda el color del texto del elemento padre */
    text-decoration: none; /* Elimina el subrayado */
   
}

@media screen and (max-width: 768px) {
    .menu-list {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
    
}

/* Nuevos estilos para la barra lateral */
.sidebar {
    display: none;
    margin-left: auto;
    padding: 30px;
    margin-top: 20px;
    /* Espacio en la parte superior */
    background-color: #333;
    border-radius: 20px;
    max-width: 100%;
    z-index: 2;
    position: absolute;
    top: 16%;
    right: 0.2%;
}

.sidebar a {
    color: #FFF;
    text-decoration: none;
    padding: 25px 16px;
    display: block;
    /* Cambiado a block para organizar hacia abajo */
    
    margin-bottom: 20px;
    /* Espaciado entre los enlaces */
}
.sidebar a:hover{
    color: #a200ff;

}
button:hover {
    background-color: #a200ff;
  }

/* aqui termina el css del menu*/

/*****************************************************************************************/
.producto {
    background-color: rgb(255, 255, 128);
    border: 1px solid rgb(255, 153, 255);
    padding: 20px;
  margin: 10px;
  text-align: left;
  width: 300px;
  display: inline-block;
  vertical-align: top; /* Alinea los contenedores en la parte superior */
 height: 400px;
 box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* 5px hacia la derecha, 5px hacia abajo, desenfoque de 10px y color de sombra con opacidad */
    
  }

   /* Estilos para la imagen del producto */
    .producto .prod {
      width: 100%;
      height: 300px;
      
      
    }

    /* Estilos para el nombre del producto */
    .producto .nombre {
      font-weight: bold;
      margin: 10px 0;
      
    }

    /* Estilos para la descripción del producto */
    .producto .descripcion {
      font-size: 0.9em;
      text-align: justify;
      
    }
   
    .producto .fav{
        cursor: pointer;
        max-width: 30px;
        vertical-align: top;
    }
    