# fly.toml app configuration file generated for apicirvsdb on 2023-12-13T09:53:04-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "apicirvsdb"
primary_region = "dfw"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
