html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: linear-gradient(45deg, #FFC0CB, #FFFF00);
    background-size: 400% 400%;
}

.menuNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    background-color: #333;
}

.menu-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-list li {
    margin-right: 20px;
}

.menu-list li a {
    color: #fff;
    text-decoration: none;
}

.menu-button, .menu-icon {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}

.menu-button {
    padding: 10px 20px;
    width: 250px;
}

.menu-icon {
    display: none;
}

.menu-icon {
    grid-area: icono;
    width: 60px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 10px;
    background-color: #000;
}

.logo {
    width: 100px;
    height: auto;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .menu-list {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}

/* Nuevos estilos para la barra lateral */
.sidebar {
    display: none;
    margin-left: auto;
    padding: 30px;
    margin-top: 20px;
    background-color: #333;
    border-radius: 20px;
    max-width: 100%;
    z-index: 2;
    position: absolute;
    top: 16%;
    right: 0.2%;
}

.sidebar a {
    color: #FFF;
    text-decoration: none;
    padding: 25px 16px;
    display: block;
    margin-bottom: 20px;
}

.sidebar a:hover {
    color: #a200ff;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd; /* Nuevo: Borde de la tabla */
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

thead {
    background-color: #333;
    color: white;
}
